.zadrugarDiv{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto;
    border: 2px solid #466ce0;
    border-radius: 7px;
    margin-bottom: 15px;
    padding: 10px;
    min-width: fit-content;
    justify-content: space-between;
    background-color: #ffffff;
}

.zadrugarSlika{
    
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
}

.slikaDiv{
    height: 118px;
    width: 118px;
}

.odabranDiv{
    display: flex;
    align-items: center;
}

.odabran{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.srednjiDiv{
    display: flex;
    flex-direction: column;
    justify-self:flex-start;
    margin-left: 15px;
}

.slikaSrednjiDiv{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

.obrisiZadrugaraBtn{
    align-self: center;
    position: relative;
    display:block;
    height: 33px;
    min-width: 210px;
    font-weight: 700;
    font-size:20px;
    letter-spacing: 2px;
    color: #ffffff;
    border: 1px #383736 solid;
    border-radius: 4px;
    outline: 0;
    background-color: #da4e4e;
    cursor: pointer;
  }

.obrisiZadrugaraBtn:hover{
    background-color: #c04545;
    color: #ffffff;
}

.otvoriZadrugaraBtn{
    align-self: center;
    position: relative;
    display:block;
    height: 33px;
    min-width: 210px;
    font-weight: 700;
    font-size:20px;
    letter-spacing: 2px;
    color: #ffffff;
    border: 1px #383736 solid;
    border-radius: 4px;
    outline: 0;
    background-color: #4e73df;
    cursor: pointer;
    margin-top: 5px;
  }

.otvoriZadrugaraBtn:hover{
    background-color:#4566ca;
    color: #ffffff;
}